<?xml version="1.0" encoding="UTF-8"?>

<Configuration name="CommandLineConfig" packages="org.infinispan.util.logging.log4j">
  <Properties>
    <Property name="infinispan.module-suffix"></Property>
    <Property name="infinispan.log.path">.</Property>
    <Property name="infinispan.log.thread-filter"></Property>
  </Properties>

  <Appenders>
    <Console name="STDOUT">
      <PatternLayout pattern="%d{HH:mm:ss,SSS} %-5p (%t) [%c{1}] %m%n%throwable{10}"/>
    </Console>
    <File name="File" fileName="${sys:infinispan.log.path}/infinispan.log"
          append="false">
      <PatternLayout pattern="%d{HH:mm:ss,SSS} %-5p (%t:%x) [%c{1}] %m%n"/>
    </File>
  </Appenders>

  <Loggers>
    <Logger name="org.infinispan" level="INFO"/>
    <Logger name="org.infinispan.crucial" level="WARNING"/>
    <Logger name="org.jgroups" level="DEBUG"/>
    <Logger name="org.infinispan.server.hotrod.Decoder2x" level="ERROR"/>
    <Logger name="org.infinispan.commons.test.TestNGTestListener" level="ERROR"/>

    <Root level="INFO">
      <AppenderRef ref="STDOUT" level="TRACE"/>
      <AppenderRef ref="File" level="ERROR"/>
    </Root>
  </Loggers>
</Configuration>
